body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0a0a0a;
  color: white;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  align-items: center;
  background: #111;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}
.logo span {
  color: #00ffaa;
}

nav ul {
  list-style: none;
  display: flex;
}
nav ul li {
  margin-left: 20px;
}
nav ul li a {
  color: #ccc;
  text-decoration: none;
  font-size: 16px;
}
nav ul li a:hover {
  color: #00ffaa;
}

/* HERO */
.hero {
  padding: 120px 40px;
  text-align: center;
}
.hero h1 {
  font-size: 48px;
}
.hero h1 span {
  color: #00ffaa;
}
.btn {
  background: #00ffaa;
  padding: 12px 25px;
  color: black;
  border-radius: 5px;
  text-decoration: none;
}

/* SECTIONS */
section {
  padding: 80px 40px;
}
h2 {
  font-size: 32px;
  color: #00ffaa;
}

/* PROJECTS */
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.project-box {
  background: #151515;
  padding: 20px;
  border-radius: 12px;
}
.project-box a {
  color: #00ffaa;
}

/* CONTACT */
.social a {
  color: white;
  font-size: 30px;
  margin: 0 10px;
}
.social a:hover {
  color: #00ffaa;
}
